In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error, median_absolute_error

In [2]:
df = pd.read_csv('house_prices.txt', sep='\t')

In [3]:
df

      Value   Price  Square_Footage  Number_Bedrooms
0    119.37  121.87            20.5              4.0
1    148.93  150.25            22.0              4.0
2    130.39  122.78            15.9              3.0
3    135.70  144.35            18.6              3.0
4    126.30  116.20            12.1              2.0
..      ...     ...             ...              ...
145  126.67  128.52            14.3              2.0
146  137.57  132.02            17.1              4.0
147  133.46  128.03            15.8              2.0
148  163.57  168.06            23.5              5.0
149  118.46  114.92            14.2              2.0

[150 rows x 4 columns]

In [4]:
class LinearRegression():
    def __init__(self, max_iter=100000, alpha=0.0001):
        self.max_iter = max_iter
        self.alpha = alpha
    
    def calculate_cost(self):
        self.J = (1/(2 * self.m)) * np.sum((self.h - self.y)**2)
        
    def calculate_theta(self):
        for j, _ in enumerate(self.theta):
            self.theta[j] = self.theta[j] \
            - (self.alpha / self.m) * np.sum(np.dot((self.h - self.y), self.X[:,j].T))

 
    def fit(self, X, y):
        self.X = np.array(X)
        self.X = np.insert(self.X, obj = 0, values = 1, axis=1)
        self.y = np.array(y)
        
        self.m = self.X.shape[0]
        self.n = self.X.shape[1]
        
        self.theta=np.ones(self.n)
        self.J = 1e100
        
        for _ in range(self.max_iter):
            prev_J = self.J
            prev_theta = self.theta.copy()
            self.h = np.matmul(self.X, self.theta)
            self.calculate_cost()
            self.calculate_theta()
            if prev_J < self.J:
                self.J = prev_J
                self.theta = prev_theta
                self.h = np.matmul(self.X, self.theta)
                break
            
        
    def predict(self, X_test):
        self.X_test = np.array(X_test)
        self.X_test = np.insert(self.X_test, obj = 0, values = 1, axis=1)
        return np.dot(self.X_test, self.theta)

In [14]:
lr = LinearRegression()
lr.fit(df.drop(['Price', 'Value'], axis=1), df['Value'])

In [15]:
lr.theta

array([10.35591184,  7.7110678 , -4.70830526])

In [16]:
median_absolute_error(df['Value'], lr.predict(df.drop(['Price', 'Value'], axis=1)))

9.056303316855946